body {

    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: #6570EB;
    text-align: center;
}

.flexBox {
    display: flex;
    justify-content: center;
}



.laterales {
    padding: 20px;
    text-align: center;
    color: #202020;
    width: 10%;
    background-color: #EBE778;
    box-sizing: border-box;
}

main {
    width: 80%;
    padding: 20px;
    text-align: justify;
    line-height: 2em;
    font-size: 2em;
    color: rgb(49, 54, 54);
    background-color: #EBCD2A;
    box-sizing: border-box;
    
}

footer {

    height: 195px;
    float: none;
    background-color: #B0EB2A;

}

header {

    position: sticky;
    top: 0px;
    height: 115px;

    background-color: #EBE52A;
}

#volver img {
    width: 100px;
    height: 100px;
    border-radius: 300px;
    margin-right: 25px;

}

#volver img:hover {
    width: 105px;
    height: 105px;
}




#enlace img {

    width: 150px;
    height: 250px;
    border-radius: 20px;
}

#usuario {

    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#logear {
    position: absolute;
    background-color: rgb(248, 140, 16);
    width: 60px;
    height: 60px;
    right: 50px;
    top: 20px;
    border-radius: 200px;

}

input[type=text],
input[type=password] {
    width: 50%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type=checkbox] {
    margin: 20px 0;
    border-radius: 5px;
}

.estiloLab {
    font-size: 70%;
    margin-bottom: -20px;
}

#labelCheck {
    font-size: 70%;
    display: block;
}

#botonLog {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
}

#botonCan {
    background-color: #aa0404;
    color: white;
    padding: 14px 20px;
    width: 10%;
    font-size: 70%;
    border-radius: 5px;
}

#botonReg {
    color: #04AA6D;
    background-color: white;
    width: 10%;
    font-size: 100%;
    position: relative;
    left: 330px;
    padding: 10px 10px;
    border-radius: 20px;
}

.redes {
    margin: 7px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
}


#volver img {
    width: 100px;
    height: 100px;
    border-radius: 300px;
    margin-left: 35px;
    margin-top: 5px;

}

#volver img:hover {
    width: 105px;
    height: 105px;
}




#enlace img {

    width: 150px;
    height: 250px;
    border-radius: 20px;
}

#siguiente img {

    width: 100%;
    height: auto;
    border-radius: 20px;
}

.redes img {
    margin: 7px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    
}



#fantasmas img:hover {

    content: url(imagenes/alt7.webp);

}

#enlace img:hover {

    content: url(imagenes/alt2.jpg);

}

#siguiente img:hover {

    content: url(imagenes/alt10.png);

}

@media screen and (min-width: 600px) {
    footer {

        height: 175px;
    }
}

@media screen and (min-width: 992px) {
    footer {

        height: 195px;
    }
}

@media screen and (min-width: 768px) {
    footer {

        height: 250px;
    }
}

@media screen and (min-width: 1200px) {
    footer {

        height: 300px;
    }
}